body {
  background: #659ED6; }

.content {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 1px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.54); }
  @media (max-width: 400px) {
    .content {
      width: 100%; } }
  .content a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: #8b8b8b; }
    .content a:hover {
      border-bottom: 1px solid black;
      color: black; }
  .content h1, .content h2, .content h3, .content h4 {
    margin: 0; }
  .content h1 {
    font-size: 3em; }
  .content .pronounced {
    color: #afafaf;
    font-size: 1.32em; }
  .content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  .content h3 {
    margin-top: 30px;
    font-size: 1.4em; }
    .content h3:first-of-type {
      margin-top: 0; }
  .content p {
    font-size: 0.9em; }
  .content ul {
    font-size: 0.9em;
    padding-left: 2em; }
  .content button {
    padding: 0.2em;
    border: 0;
    outline: 0; }
    .content button.blue {
      color: white;
      background: #2980b9; }
      .content button.blue:hover {
        background: #55a5d9; }
    .content button.red {
      color: white;
      background: #e74c3c; }
      .content button.red:hover {
        background: #ef8b80; }
    .content button.orange {
      color: white;
      background: #f39c12; }
      .content button.orange:hover {
        background: #f7ba5b; }
    .content button.purple {
      color: white;
      background: #9b59b6; }
      .content button.purple:hover {
        background: #bb8ecd; }
    .content button.green {
      color: white;
      background: #27ae60; }
      .content button.green:hover {
        background: #4bd786; }
    .content button.grey {
      color: white;
      background: #95a5a6; }
      .content button.grey:hover {
        background: #bfc8c9; }
  .content .demo-simple {
    font-size: 1.2em; }
