.notifine-notifications {
  width: 40%;
  position: fixed;
  bottom: 0.1em;
  right: 0.3em;
  max-width: 250px;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden; }

.notifine-notification {
  font-size: 9px; }

@media (max-width: 700px) {
  .notifine-notification {
    font-size: 8px; }

  .notifine-notifications {
    max-width: 200px; } }
@media (max-width: 500px) {
  .notifine-notification {
    font-size: 8px; }

  .notifine-notifications {
    max-width: 150px; } }
@media (max-width: 300px) {
  .notifine-notification {
    font-size: 8px; }
    .notifine-notification h1 {
      font-size: 1.7em !important; }

  .notifine-notifications {
    min-width: 150px;
    max-width: 150px; } }
.notifine-notification {
  display: flex;
  margin: 0 0 5px 0;
  max-width: 350px;
  min-height: 70px;
  cursor: pointer;
  z-index: 9999; }
  .notifine-notification:hover {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  .notifine-notification .info {
    flex: 1;
    padding: 0.6em 0.6em 0.3em 0.6em;
    background: #ecf0f1;
    border-radius: 3px 0 0 3px;
    border-bottom: 0.3em solid #c0cdd1; }
    .notifine-notification .info h1 {
      margin: 0;
      padding: 0;
      font-family: arial, sans-serif;
      font-size: 2em;
      color: #111;
      word-wrap: break-word; }
    .notifine-notification .info p {
      margin: 0;
      padding: 0.2em 0;
      font-family: arial, sans-serif;
      font-size: 1.3em;
      color: #666; }
  .notifine-notification .side {
    width: 0.6em;
    border-radius: 0 3px 3px 0;
    border-bottom: 0.3em solid; }
  .notifine-notification .side {
    background: #7f8c8d;
    border-bottom-color: #667273; }
  .notifine-notification.blue .side {
    background: #2980b9;
    border-bottom-color: #20638f; }
  .notifine-notification.red .side {
    background: #e74c3c;
    border-bottom-color: #d62c1a; }
  .notifine-notification.orange .side {
    background: #f39c12;
    border-bottom-color: #c87f0a; }
  .notifine-notification.purple .side {
    background: #9b59b6;
    border-bottom-color: #804399; }
  .notifine-notification.green .side {
    background: #27ae60;
    border-bottom-color: #1e8449; }
  .notifine-notification.gray .side {
    background: #95a5a6;
    border-bottom-color: #798d8f; }
