$color_blue : #2980b9;
$color_red : #e74c3c;
$color_purple : #9b59b6;
$color_orange : #f39c12;
$color_green : #27ae60;
$color_grey : #95a5a6;

@mixin button($color) {
  color: white;
  background: $color;
  &:hover {
    background: lighten($color, 15%);
  }
}

body {
  background: #659ED6;
}

.content {
  font-family: 'Open Sans', sans-serif;

  width: 80%;
  @media (max-width: 400px){width: 100%;}
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 15px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background: #fff;
  border-radius: 1px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.54);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.54);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.54);
  
  a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: rgb(139, 139, 139);
    &:hover {
      border-bottom: 1px solid black;
      color: black;
    }
  }

  h1,h2,h3,h4 {
    margin: 0;
  }

  h1 {
    font-size: 3em;
  }

  h4 {
    font-size: 1.1em;
  }

  .pronounced {
    color: rgb(175, 175, 175);
    font-size: 1.32em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.4em;
    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    font-size: 0.9em;
  }

  ul {
    font-size: 0.9em;
    padding-left: 2em;
  }

  button {
    cursor: pointer;
    padding: 0.3em 0.4em;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    &.blue {
      @include button($color_blue);
    }
    &.red {
      @include button($color_red);
    }
    &.orange {
      @include button($color_orange);
    }
    &.purple {
      @include button($color_purple);
    }
    &.green {
      @include button($color_green);
    }
    &.grey {
      @include button($color_grey);
    }
  }

  .codeblock {
    width: 100%;
    padding: 10px;

    background: #DAEDFF;
    border: 1px solid #CDE6FF;
    border-radius: 2px;

    font-size: 0.8em;
    color: black;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .blue {
      color: $color_blue;
    }
    .red {
      color: $color_red;
    }
    .orange {
      color: $color_orange;
    }
    .purple {
      color: $color_purple;
    }
    .green {
      color: $color_green;
    }
    .grey {
      color: $color_grey;
    }
  }
}