$notifine_blue : #2980b9;
$notifine_red : #e74c3c;
$notifine_purple : #9b59b6;
$notifine_orange : #f39c12;
$notifine_green : #27ae60;
$notifine_grey : #95a5a6;

@mixin color($color) {
  .side {
    background: $color;
    border-bottom-color: darken($color, 10%);
  }
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

.notifine-notifications {
  width: 40%;
  position: fixed;
  bottom: 0.1em;
  right: 0.3em;
  max-width: 250px;
  max-height: 99%;
  z-index: 9999998;
}

.notifine-notification{font-size:9px;}
@media (max-width: 700px){.notifine-notification{font-size:8px;}.notifine-notifications{max-width: 200px;}}
@media (max-width: 500px){.notifine-notification{font-size:8px;}.notifine-notifications{max-width: 150px;}}
@media (max-width: 300px){.notifine-notification{font-size:8px;h1{font-size: 1.7em !important;}}.notifine-notifications{min-width: 150px; max-width: 150px;}}

.notifine-notification {
  display: flex;
  margin: 0 0 5px 0;
  max-width: 350px;
  min-height: 70px;
  cursor: pointer;
  z-index: 9999999;
  &:hover {
    opacity: 0.9;
    @include transition(opacity,0.2s,ease);
  }

  .info {
    flex: 1;
    padding: 0.6em 0.6em 0.3em 0.6em;
    background: #ecf0f1;
    border-radius: 3px 0 0 3px;
    border-bottom: 0.3em solid darken(#ecf0f1, 15%);
    
    h1 {
      margin: 0;
      padding: 0;
      font-family: arial, sans-serif;
      font-size: 2em;
      color: #111;
      word-wrap: break-word;
    }
    
    p {
      margin: 0;
      padding: 0.2em 0;
      font-family: arial, sans-serif;
      font-size: 1.3em;
      color: #666;
    }

    a {
      color: blue;
      text-decoration: none;
      &:hover {
        border-bottom: 1px dotted blue;
      }
    }
  }
  
  .side {
    width: 0.6em;
    border-radius: 0 3px 3px 0;
    border-bottom: 0.3em solid;
  }
  
  @include color($notifine_grey);
  
  &.blue {
    @include color($notifine_blue);   
  }
  &.red {
    @include color($notifine_red);
  }
  &.orange {
    @include color($notifine_orange);
  }
  &.purple {
    @include color($notifine_purple);
  }
  &.green {
    @include color($notifine_green);
  }
}